/* HTML/Body */

html, body {
	padding: 0;
	margin: 0;
}

/* Logo Bar */

.logo_bar {
	background-color: #00b1e9;
	height: 130px;
}

.logos {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	line-height: 50px;
	padding: 40px 30px;
	letter-spacing: 4px;
}

@media screen and (max-width: 700px) {
	div.logos {
    	font-size: 30px;
	}
}

@media screen and (min-width: 701px) {
	div.logos {
    	font-size: 45px;
	}
}

/* Body */

.title {
	font-family: 'Lato', sans-serif;
	color: #00b1e9;
	width: 75%;
	text-align: center;
	margin: auto;
	padding: 25px 20px 10px;
	font-weight: 700;
}

.completion_image {
	display: block;
	margin: auto;
}

.message {
	font-family: 'Lato', sans-serif;
	color: #00b1e9;
	width: 75%;
	text-align: center;
	margin: auto;
	padding: 15px;
	font-weight: 300;
}

@media screen and (max-width: 700px) {
	h2.title {
  		font-size: 24px;
  	}
	h3.message {
  		font-size: 18px;
  	}
  	img.completion_image {
  		width: 400px;
  	}
}

@media screen and (min-width: 701px) {
	h2.title {
  		font-size: 30px;
  	}
	h3.message {
  		font-size: 22px;
  	}
  	img.completion_image {
  		width: 600px;
  	}
}

.portal_button {
	display: block;
	margin: auto;
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	font-weight: 700;
	color: #fff;
	text-align: center;
	background-color: #6cc600;
	width: 150px;
	text-decoration: none;
	padding: 15px 18px;
	border: none;
	border-radius: 5px;
}

/* Footer */

.footer {
	width: 100%;
	height: 40px;
	background-color: #00b1e9;
	color: #000;
	text-align: center;
	font-size: 12px;
}

.footer_text {
	padding: 12px 12px 11px;
	font-family: 'Libre Franklin', sans-serif;
	color: #000;
}

.priv_pol_link {
	color: #000;
	text-decoration: none;
}
