/* HTML/Body */

* {
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	position: relative;
}

.container {
	position: relative;
	min-height: 100vh;
	overflow: hidden;
	display: block;
	padding-bottom: 60px;
}

/* Logo Bar */

.logo_bar {
	background-color: #00b1e9;
}

.logos {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: calc(18px + (28 - 18) * (100vw - 400px) / (800 - 400));
	line-height: 50px;
	padding: 30px 30px;
	letter-spacing: 4px;
}

/* Main Body (Columns) */

.main_column {
  float: left;
  width: 50%;
}

.main_row:after {
  content: "";
  display: table;
  clear: both;
}

.column_title {
	font-family: 'Lato', sans-serif;
	font-size: calc(16px + (21 - 16) * (100vw - 400px) / (800 - 400));
	font-weight: 400;
	text-align: center;
	color: #00b1e9;
	padding: 5px 20px;
}

.column_title_black {
	font-family: 'Lato', sans-serif;
	font-size: calc(16px + (21 - 16) * (100vw - 400px) / (800 - 400));
	font-weight: 400;
	text-align: center;
	color: #000000;
	padding: 5px 20px;
}

.column_image {
	display: block;
    margin: auto;
    width: 85%;
    max-width: 300px;
    height: auto;
    padding-bottom: 10px;
}

/* Column 2 */

.form {
	padding: 5px 15px;
	font-family: 'Lato', sans-serif;
}

label, input[type=text] {
	display: block;
}

label {
	padding-top: 30px;
	font-weight: 400;
	font-size: calc(14px + (16 - 14) * (100vw - 400px) / (800 - 400));
}

.first_label {
	padding-top: 0px;
}

input[type=text] {
	width : 100%;
	height: 30px;
	border: none;
	border-bottom: 1px solid #ccc;
	font-family: 'Lato', sans-serif;
	font-size: calc(13px + (15 - 13) * (100vw - 400px) / (800 - 400));
	font-weight: 300;
}

input[type=email] {
	width : 100%;
	height: 30px;
	border: none;
	border-bottom: 1px solid #ccc;
	font-family: 'Lato', sans-serif;
	font-size: calc(13px + (15 - 13) * (100vw - 400px) / (800 - 400));
	font-weight: 300;
}

input[type=number] {
	width : 100%;
	height: 30px;
	border: none;
	border-bottom: 1px solid #ccc;
	font-family: 'Lato', sans-serif;
	font-size: calc(13px + (15 - 13) * (100vw - 400px) / (800 - 400));
	font-weight: 300;
}

input[type=submit] {
	cursor: pointer;
	display: block;
	margin: auto;
	font-family: 'Lato', sans-serif;
	font-size: calc(13px + (15 - 13) * (100vw - 400px) / (800 - 400));
	font-weight: 400;
	color: #fff;
	background-color: #6cc600;
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
}

.button_wrap {
	padding: 10px;
}

/* Info/Image section (below) */

.line {
	margin: 15px 25px 25px 20px;
	border: 1px solid #ccc;
}

.title {
	font-family: 'Lato', sans-serif;
	font-size: calc(16px + (20 - 16) * (100vw - 400px) / (800 - 400));
	font-weight: 400;
	color: #00b1e9;
	width: 75%;
	text-align: center;
	margin: auto;
	
}

.image_collection {
	text-align: center;
    margin-top: 0px;
}

.computer_image {
	display: inline-block;
    margin: 0 auto;
    width: 35%;
}

.chart_image {
	display: inline-block;
    margin: 0 auto;
    width: 35%;
}

.title_cta {
	font-family: 'Lato', sans-serif;
	color: #00b1e9;
	width: 75%;
	text-align: center;
	margin: auto;
	padding: 20px;
	font-size: calc(16px + (20 - 16) * (100vw - 400px) / (800 - 400));
}

/* Footer */

.footer {
	width: 100%;
	background-color: #00b1e9;
	color: #000000;
	text-align: center;
	font-size: 11px;
	bottom: 0;
	position: absolute;
}

.footer_text {
	padding: 5px;
	font-family: 'Libre Franklin', sans-serif;
	color: #000000;
}

.priv_pol_link {
	color: #000000;
	text-decoration: none;
}
